@model Vovinam.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- App title -->
    <title>Vovinam | Login</title>

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Fonts/font-awesome/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr.min.js"></script>

</head>


<body>


    <!-- HOME -->
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12">

                    <div class="wrapper-page">

                        <div class="m-t-40 account-pages">
                            <div class="text-center account-logo-box">
                                <h2 class="text-uppercase">
                                    <a href="index.html" class="text-success">
                                        <span><img class="logo" src="~/Content/Image/logo.png" alt="" height="36"></span>
                                    </a>
                                </h2>
                                <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                            </div>
                            <div class="account-content">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("returnUrl", ViewBag.ReturnUrl as string)
                                    if (ViewBag.Message != null)
                                    {
                                        <div class="form-group">
                                            <p class="alert alert-danger">
                                                @ViewBag.Message

                                            </p>
                                        </div>
                                    }
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @required = true, @placeholder = "Tên đăng nhập" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control ", @required = true, @placeholder = "Mật khẩu" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class=" block full-width m-b">
                                            
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.Label("RememberMe", "Ghi nhớ đăng nhập")
                                        </div>
                                    </div>
                                    
                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-xs-12">
                                            <button class="btn w-md btn-bordered btn-primary waves-effect waves-light" type="submit">Đăng nhập</button>
                                        </div>
                                    </div>

                                }
                                <div class="clearfix"></div>

                            </div>
                        </div>
                       
                    </div>
                    <!-- end wrapper -->

                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
    <style>
        .logo {
            -webkit-transition: -webkit-transform 0.4s;
            transition: transform 0.4s;
        }
        .logo:hover{
            -webkit-transform: scale(1.8) rotate(0.01deg);
            transform: scale(1.8) rotate(0.01deg);
        }
        
    </style>

    <script>
        var resizefunc = [];

    </script>

    <!-- jQuery  -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/detect.js"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/removeads.js"></script>

    <!-- App js -->
    <script src="~/Scripts/jquery.core.js"></script>
    <script src="~/Scripts/jquery.app.js"></script>

</body>
</html>