@using Vovinam.Common
@using Vovinam.Services
@using Vovinam.WebBackend.Common
@using Vovinam.WebBackend.Web

@using PagedList.Mvc;
@model List<Vovinam.Data.LevelUp>

@if (Model.Count != 0)
{
    <table class="table table-striped table-colored table-info table-hover">
        <thead>
            <tr>
                <th>
                    Tên
                </th>
                <th>
                    Giới tính
                </th>
                <th>
                    Câu lạc bộ
                </th>
                <th>
                    Cấp đai
                </th>
                <th>
                    Tổng điểm
                </th>
                <th>
                    Kết quả
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Gender.GetString()
                    </td>
                    <td>
                        @item.Club.Name
                    </td>
                    <td>
                        <img style="width: 70px;" src="@Url.ImageLevel(item.Level)" />
                    </td>
                    <td>
                        @item.Total
                    </td>
                    <td>
                        @item.KetQua.GetString()
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
