@using System.Linq

@using Vovinam.Common
@using Vovinam.WebBackend.Common
@model List<Permission>
@{
    var allPermissions = EnumUtil.GetListPermission().ToList();
    var dic = new Dictionary<Permission, EnumUtil.NodeStatus>();
    foreach (var permission in allPermissions)
    {
        dic.Add(permission, new EnumUtil.NodeStatus()
        {
            Selected = Model.Any(x => x == permission),
            Showed = false
        });
    }
}
<link href="~/Content/plugin/JsTree/style.css" rel="stylesheet" />
<div id="jstree2"></div>

<script src="~/Scripts/jsTree3/jstree.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#jstree2').jstree({
            'plugins': ["checkbox"],
            'core': {
                'data': [
                    {
                        "text": "Câu lạc bộ",
                        "icon": "mdi mdi-trophy-variant",
                        "state": { "opened": false },
                        "children": [
                            @EnumUtil.ToTreeNode(Permission.Club_View, dic),
                            @EnumUtil.ToTreeNode(Permission.Club_Create, dic),
                            @EnumUtil.ToTreeNode(Permission.Club_Delete, dic)
                        ]
                    },
                    {
                        "text": "Quản trị viên",
                        "icon": "fa fa-user",
                        "state": { "opened": false },
                        "children": [
                            {
                                "text": "Quản lý quản trị viên",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.User_View, dic),
                                    @EnumUtil.ToTreeNode(Permission.User_Create, dic),
                                    @EnumUtil.ToTreeNode(Permission.User_Delete, dic)

                                ]
                            },
                            {
                                "text": "Quản lý vai trò",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.GroupPermission_View, dic),
                                    @EnumUtil.ToTreeNode(Permission.GroupPermission_Create, dic),
                                    @EnumUtil.ToTreeNode(Permission.GroupPermission_Delete, dic)
                                ]
                            }
                        ]
                    },

                    {
                        "text": "Học viên",
                        "icon": "mdi mdi-tag-faces",
                        "state": { "opened": false },
                        "children": [
                            {
                                "text": "Học viên Khu A",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.StudentKA_View, dic),
                                    @EnumUtil.ToTreeNode(Permission.StudentKA_Create, dic),
                                    @EnumUtil.ToTreeNode(Permission.StudentKA_Delete, dic)        
                                ]
                            },

                            {
                                "text": "Học viên Khu B",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.StudentKB_View, dic),
                                    @EnumUtil.ToTreeNode(Permission.StudentKB_Create, dic),
                                    @EnumUtil.ToTreeNode(Permission.StudentKB_Delete, dic)
                             
                                ]
                            },

                              {
                                  "text": "Học viên Nông Lâm",
                                  "children": [
                                      @EnumUtil.ToTreeNode(Permission.StudentNL_View, dic),
                                      @EnumUtil.ToTreeNode(Permission.StudentNL_Create, dic),
                                      @EnumUtil.ToTreeNode(Permission.StudentNL_Delete, dic)
                                     
                                  ]
                              },
                        ]
                    },

                     {
                         "text": "Học phí",
                         "icon": "mdi mdi-cash-usd",
                         "state": { "opened": false },
                         "children": [
                             {
                                 "text": "Học phí Khu A",
                                 "children": [
                                     @EnumUtil.ToTreeNode(Permission.TuitionKA_View, dic),
                                     @EnumUtil.ToTreeNode(Permission.TuitionKA_Edit, dic)
                                 ]
                             },

                             {
                                 "text": "Học phí Khu B",
                                 "children": [
                                   @EnumUtil.ToTreeNode(Permission.TuitionKB_View, dic),
                                     @EnumUtil.ToTreeNode(Permission.TuitionKB_Edit, dic)
                                 ]
                             },

                               {
                                   "text": "Học phí Nông Lâm",
                                   "children": [
                                      @EnumUtil.ToTreeNode(Permission.TuitionNL_View, dic),
                                       @EnumUtil.ToTreeNode(Permission.TuitionNL_View, dic)
                                   ]
                               },
                         ]
                     },

                    {
                        "text": "Khóa thi",
                        "icon": "mdi mdi-account-circle",
                        "state": { "opened": false },
                        "children": [
                            {
                                "text": "Danh sách khóa thi",
                                "children": [

                                    @EnumUtil.ToTreeNode(Permission.ChamThi_ViewCompete, dic),
                                    @EnumUtil.ToTreeNode(Permission.ChamThi_ExportCompete, dic)

                                ]
                            },
                            {
                                "text": "Danh sách đối kháng",
                                "children": [

                                    @EnumUtil.ToTreeNode(Permission.ChamThi_ViewCompete, dic),
                                    @EnumUtil.ToTreeNode(Permission.ChamThi_ExportCompete, dic)

                                ]
                            }
                        ]
                    },
                     {
                         "text": "Chấm thi",
                         "icon": "mdi mdi-account-location",
                         "state": { "opened": false },
                         "children": [
                             {
                                 "text": "Tự vệ",
                                 "children": [
                                     @EnumUtil.ToTreeNode(Permission.LamDai_CoBan, dic),
                                     @EnumUtil.ToTreeNode(Permission.LamDai_Quyen, dic),
                                     @EnumUtil.ToTreeNode(Permission.LamDai_VoDao, dic),
                                     @EnumUtil.ToTreeNode(Permission.LamDai_TheLuc, dic)
                                 ]
                             },
                             {
                                 "text": "Lam đai",
                                 "children": [
                                     @EnumUtil.ToTreeNode(Permission.LamDai_I_CoBan, dic),
                                     @EnumUtil.ToTreeNode(Permission.LamDai_I_Quyen, dic),
                                     @EnumUtil.ToTreeNode(Permission.LamDai_I_VoDao, dic)
                                 ]
                             },
                              {
                                  "text": "Lam đai I",
                                  "children": [
                                      @EnumUtil.ToTreeNode(Permission.LamDai_II_CoBan, dic),
                                      @EnumUtil.ToTreeNode(Permission.LamDai_II_Quyen, dic),
                                      @EnumUtil.ToTreeNode(Permission.LamDai_II_VoDao, dic)                                     
                                  ]
                              },
                             {
                                 "text": "Lam đai II",
                                 "children": [
                                     @EnumUtil.ToTreeNode(Permission.LamDai_III_CoBan, dic),
                                      @EnumUtil.ToTreeNode(Permission.LamDai_III_Quyen, dic),
                                      @EnumUtil.ToTreeNode(Permission.LamDai_III_VoDao, dic),
                                      @EnumUtil.ToTreeNode(Permission.LamDai_III_SongLuyen, dic)
                                 ]
                             },
                             {
                                 "text": "Đối kháng",
                                 "children": [
                                     @EnumUtil.ToTreeNode(Permission.DoiKhang_Nam, dic),
                                     @EnumUtil.ToTreeNode(Permission.DoiKhang_Nu, dic)
                                 ]
                             }
                         ]
                     },
                    {
                        "text": "Lịch sử",
                        "icon": "fa fa-institution",
                        "state": { "opened": false },
                        "children": [
                            @EnumUtil.ToTreeNode(Permission.History_View, dic)
                        ]
                    },
                ]
            }
        });
    });

    function GetSelectedPermisison() {
        var checked = [];
        var selelected = $("#jstree2").jstree("get_checked", true);
        $.each(selelected, function () {
            if (this.original.id) {
                checked.push(this.original.id);
            }
        });
        return checked;
    }


</script>